@using PruebaLogin.Models;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id='menu-altern'>
                <ul class="nav nav-pills">
                    <li>@Html.ActionLink("Inicio", "Index", "PaginaInicio", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li class='expandible'>
                        @if ((List<MenuCLS>)Session["Permiso"] != null && (Usuario)Session["Usuario"] != null)
                        {
                            <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown">Seguridad</a>
                            <ul>
                                @foreach (MenuCLS oMenuCLS in (List<MenuCLS>)Session["Permiso"])
                                {
                                    if (oMenuCLS.accion == "Index")
                                    {
                                        <li>@Html.ActionLink(oMenuCLS.pagina, oMenuCLS.accion, oMenuCLS.controlador, new { area = "" }, new { @class = "navbar-brand " })</li>
                                    }
                                }
                            </ul>
                        }
                    </li>
                    @if ((Usuario)Session["Usuario"] == null)
                    {
                        <li style=" position: relative; left: 70%;">@Html.ActionLink("Iniciar Sesión", "Index", "Login", new { area = "" }, new { @class = "navbar-brand" })</li>
                    }
                    else
                    {
                        <li style=" position: relative; left: 70%;">@Html.ActionLink("Cerrar Sesión", "Logout", "Login", new { area = "" }, new { @class = "navbar-brand" })</li>
                    }
                </ul>

            </div>
        </div>
    </div>

            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                </footer>
            </div>

            <script src="~/Scripts/jquery-3.4.1.min.js"></script>
            <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/Scripts/bootstrap-dropdown-hover-master/src/jquery.bootstrap-dropdown-hover.js"></script>
            <script src="~/Scripts/MiJavaScript.js"></script>

</body>
</html>