@using PruebaLogin.Models;
@model GrupoCLS
@{
    ViewBag.Title = "Agregar";
    MultiSelectList listaPermiso = (MultiSelectList)ViewBag.listaPermiso;
}

<h2>Agregar Grupo</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar", "Grupo", FormMethod.Post, new { @id = "frmAgregarGrupo" }))
        {
            <div>
                @Html.LabelFor(p => p.nombreGrupo)
                @Html.TextBoxFor(p => p.nombreGrupo, new { @class = "form-control" })
                @Html.ValidationMessage("nombreGrupo", new { @class = "text-danger" })
                @if (Model != null && Model.mensajeErrorNombre != null)
                {
                    @Html.Label(Model.mensajeErrorNombre, new { @class = "text-danger" })
                }
            </div>
            <div>
                @Html.Label("Permisos")
                @Html.ListBox("permisos", listaPermiso, new { @class = "form-control", multiple = "multiple" })
                @if (Model != null && Model.mensajeErrorPermiso != null)
                {
                    @Html.Label(Model.mensajeErrorPermiso, new { @class = "text-danger" })
                }
            </div>
            <div>
            </div>
            <div style="padding-top:1em;">
                <!-- botón que abre modal de confirmación-->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirm">
                    Guardar
                </button>
                @Html.ActionLink("Regresar al listado", "Index", "Grupo", new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>


<!-- Modal de confirmación -->
<div class="modal fade" id="modalConfirm" tabindex="-1" aria-labelledby="modalConfirm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirma la acción?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>


<table>
    <tr>
        <td>
            <div style="height:155px;">
                <select id="origen" multiple="multiple" size="7" style="width: 150px;">
                    <option value="1">uno</option>
                </select>
             </div>
        </td>
        <td>
            <div style=" padding-left: 20px; padding-right: 20px; height: 155px; text-align: center;">
                <input class="btn btn-primary" style="width: 45px; margin-bottom: 2px;" onclick="AgregarTodosPermisos()" type="button" id="allAdd" value=">>" /><br />
                <input class="btn btn-primary" style="width: 45px; margin-bottom: 2px;"   onclick="AgregarPermiso()" type="button" id="add" value=">" /><br />
                <input class="btn btn-danger" style="width: 45px; margin-bottom: 2px;"   onclick="RemoverPermisos()" type="button" id="remove" value="<" /><br />
                <input class="btn btn-danger" style="width: 45px; margin-bottom: 2px;"   onclick="RemoverTodos()" type="button" id="allRemove" value="<<" />
            </div>
        </td>
        <td>
            <div style="height:155px;">
                <select id="destino" multiple="multiple" size="7" style="width: 150px;">
                    <option value="2">dos</option>
                    <option value="3">tres</option>
                    <option value="4">cuatro</option>
                    <option value="5">cinco</option>
                    <option value="3">tres</option>
                    <option value="4">cuatro</option>
                    <option value="5">cinco</option>
                </select>
                </div>
        </td>
    </tr>
</table>



<script>
    function AgregarPermiso() {
        var obj = document.getElementById('origen');
        if (obj.selectedIndex == -1) {
            alert('Seleccione una opción');
        } else {
            var valor = obj.value;
            var txt = obj.options[obj.selectedIndex].text;
            obj.options[obj.selectedIndex] = null;
            var obj2 = document.getElementById('destino');
            var opc = new Option(txt, valor);
            eval(obj2.options[obj2.options.length] = opc);
        }
    }

    function AgregarTodosPermisos() {
        var obj = document.getElementById('origen');
        var obj2 = document.getElementById('destino');
        console.log (obj.options.length);
        for (var i = 0; i < obj.options.length; i+1) {
            console.log(i);
            var valor = obj.options[i].value;
            var txt = obj.options[i].text;
            obj.options[i] = null;
            var opc = new Option(txt, valor);
            eval(obj2.options[obj2.options.length] = opc);
        }
    }

    function RemoverPermisos() {
        var obj = document.getElementById('destino');
        if (obj.selectedIndex == -1) {
            alert('Seleccione Una opción');
        } else {
            var valor = obj.value;
            var txt = obj.options[obj.selectedIndex].text;
            obj.options[obj.selectedIndex] = null;
            var obj2 = document.getElementById('origen');
            var opc = new Option(txt, valor);
            eval(obj2.options[obj2.options.length] = opc);
        }
    }

    function RemoverTodos() {
        var obj = document.getElementById('destino');
        var obj2 = document.getElementById('origen');
        console.log(obj.options.length);
        for (var i = 0; i < obj.options.length; i + 1) {
            console.log(i);
            var valor = obj.options[i].value;
            var txt = obj.options[i].text;
            obj.options[i] = null;
            var opc = new Option(txt, valor);
            eval(obj2.options[obj2.options.length] = opc);
        }
    }

</script>


<script>
            function Agregar() {
                frmAgregarGrupo.submit();
    }
</script>

