@using PruebaLogin.Models;
@using PagedList.Mvc;
@model  PagedList.IPagedList<GrupoCLS>
@{
    ViewBag.Title = "Index";
    //MultiSelectList listaPermiso = (MultiSelectList)ViewBag.listaPermiso;
}

<h2>Listado de Grupos</h2>
<!-- Button modal agregar-->
<div style="padding-top:1em;">
    <button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregar">
        Nuevo Grupo
    </button>
    @Html.ActionLink(" Listado PDF", "generarPDF", "Grupo", null, new { @class = "btn btn-primary bi bi-download", @target = "_blank" })
    @Html.ActionLink(" Listado XSLX", "generarExcel", "Grupo", null, new { @class = "btn btn-primary bi bi-download", @target = "_blank" })
</div>

<p>
    <!-- Formulario filtar por nombre grupo -->
    @using (Ajax.BeginForm("Filtrar", "Grupo", new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "divGrupo",
        InsertionMode = InsertionMode.Replace
    }, new { @id = "frmFiltrado" }))
    {
        <!--
        <div style="padding-bottom:1em; padding-top:1em;">
            @*Html.Label("Filtrar por nombre de Grupo")*@
            <input type="text" placeholder="Ingrese un nombre" id="nombregrupo" name="nombregrupo" />
        </div>-->
        <div id="divGrupo">
            @Html.Partial("_TablaGrupo", Model)
        </div>
    }
</p>




<!-- Modal agregar / editar-->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="modalAgregar" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Formulario guardar / editar grupo -->
            @using (Ajax.BeginForm("Guardar", "Grupo", null, new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "Guardar",
                UpdateTargetId = "divError"
            }, new { id = "frmAgregarGrupo" }))
            {
                @Html.Hidden("titulo")
                <div class="modal-body">
                    @Html.Hidden("page")
                    @Html.Hidden("idGrupo")
                    <div>
                        @Html.Label("Nombre Grupo")
                        @Html.TextBox("nombreGrupo", null, new { @class = "form-control" })
                    </div>

                    <div style="width:100%;">
                        <table style="margin-right:auto;margin-left:auto;">
                            <tr>
                                <td>
                                    <div style="width:170px; text-align:center">
                                        <label>Permisos Disponibles</label>
                                        <select id="permisosDisponibles" multiple="multiple" size="7" style="width: 170px;">
                                        </select>
                                    </div>
                                </td>
                                <td style="vertical-align: bottom;">
                                    <div style=" padding-left: 20px; padding-right: 20px; height: 155px; text-align: center;">
                                        <input class="btn btn-primary" style="width: 45px; margin-bottom: 2px;" onclick="AgregarTodosPermisos()" type="button" id="allAdd" value=">>" /><br />
                                        <input class="btn btn-primary" style="width: 45px; margin-bottom: 2px;" onclick="AgregarPermiso()" type="button" id="add" value=">" /><br />
                                        <input class="btn btn-danger" style="width: 45px; margin-bottom: 2px;" onclick="RemoverPermisos()" type="button" id="remove" value="<" /><br />
                                        <input class="btn btn-danger" style="width: 45px; margin-bottom: 2px;" onclick="RemoverTodos()" type="button" id="allRemove" value="<<" />
                                    </div>
                                </td>
                                <td>
                                    <div style=" width:170px; text-align:center">
                                        <label>Permisos Seleccionados</label>
                                        <select id="permisosSeleccionadosV" name="permisosSeleccionadosV" multiple="multiple" size="7" style="width: 170px;">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }
            <div id="divError" style="padding"></div>
        </div>
    </div>
</div>

<!-- Modal aviso-->
<div class="modal fade" id="modalAviso" tabindex="-1" aria-labelledby="modalAviso" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div id="contenidoAviso" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Aviso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="descripcionAviso"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal confirmación de eliminar registro -->
<div class="modal fade" id="modalConfirmEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirma la acción?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em;">
                <button type="button" onclick="EliminarRegistro()" class="btn btn-primary">Aceptar</button>
                <button type="button" id="btnCerrarConfirmacion" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<script>
    //var frmFiltrado = document.getElementById("frmFiltrado");
    var nombre = document.getElementById("nombregrupo");
    // captura evento del texbox de filtrado
    ///nombre.onkeyup = function () {
    //    $("#frmFiltrado").trigger("submit");
    //}

    function Agregar() {
        limpiarPermisos();
        limpiar();
        //recuperar lista de permisos completa
        $.get("/Grupo/RecuperarPermisoDisponibles", function (data) {
            for (var clave in data) {
                var opc = new Option(data[clave].Text, data[clave].Value);
                eval(permisosDisponibles.options[permisosDisponibles.options.length] = opc);
            }
        })
        document.getElementById("titulo").value = -1;
        document.getElementById("idGrupo").value = 99;
    }

    function Editar(id) {
        limpiar();
        limpiarPermisos();
        document.getElementById("titulo").value = id;
        document.getElementById("idGrupo").value = id;
        // recuperar nombre del grupo
        $.get("/Grupo/RecuperarDatosGrupo?titulo=" + id, function (data) {
            document.getElementById("nombreGrupo").value = data.nombreGrupo;
        })
        // recuperar lista de permisos que no esten asignados al permiso
        $.get("/Grupo/RecuperarDatosGrupoPermisoSinAsignar?titulo=" + id, function (data) {
            for (var clave in data) {
                var opc1 = new Option(data[clave].Text, data[clave].Value);
                eval(permisosDisponibles.options[permisosDisponibles.options.length] = opc1);
            }
        })
        //recuperar lista de permisos del grupo
        $.get("/Grupo/RecuperarDatosGrupoPermiso?titulo=" + id, function (data) {
            for (var clave in data) {
                var opc = new Option(data[clave].Text, data[clave].Value);
                eval(permisosSeleccionadosV.options[permisosSeleccionadosV.options.length] = opc);
            }
        })
    }
    var frmAgregarGrupo = document.getElementById("frmAgregarGrupo");
    frmAgregarGrupo.onsubmit = function (e) {
        e.preventDefault();
        seleccionarPermisos();
        frmAgregarGrupo.submit();
    }

    function seleccionarPermisos() {

        console.log("seleccionarPermisos");
        var selectObject = document.getElementById("permisosSeleccionadosV");
        for (var i = 0; i < selectObject.options.length; i++) {
            if (selectObject.options[i].selected == false) {
                selectObject.options[i].selected = true;
            }
        }
    }

    function Guardar(respuesta) {
        if (respuesta == "999") {
            document.getElementById("contenidoAviso").classList = "alert-success modal-content";
            document.getElementById("descripcionAviso").innerHTML = "EL grupo se guardo correctamente";
            $('#modalAviso').modal('show');
            document.getElementById("btnClose").click();
            $("#frmFiltrado").trigger("submit");
        } else {
            document.getElementById("contenidoAviso").classList = "alert-danger  modal-content";
            document.getElementById("descripcionAviso").innerHTML = "Ocurrio un error, el grupo no se guardo";
            $('#modalAviso').modal('show');
        }
    }

    function Eliminar(idGrupo) {
        document.getElementById("titulo").value = idGrupo;
    }
    function EliminarRegistro() {
        var id = document.getElementById("titulo").value;
        $.get("/Grupo/Eliminar?txtIdGrupo=" + id, function (data) {
            if (data == "999") {
                document.getElementById("contenidoAviso").classList = "alert-success modal-content"
                document.getElementById("descripcionAviso").innerHTML = "El usuario se elimino correctamente";
                $('#modalAviso').modal('show');
                $("#frmFiltrado").trigger("submit");
                document.getElementById("btnCerrarConfirmacion").click();
            } else {
                document.getElementById("contenidoAviso").classList = "alert-danger  modal-content"
                document.getElementById("descripcionAviso").innerHTML = "Ocurrio un error, el usuario no se elimino";
                $('#modalAviso').modal('show');
            }
        });
    }

    function limpiar() {
        document.getElementById("divError").innerHTML = "";
        document.getElementById("nombreGrupo").value = "";
    }

    function limpiarPermisos() {
        var permisosSeleccionados = document.getElementById("permisosSeleccionadosV");

        for (i = permisosSeleccionados.options.length; i >= 0; i--) {
            permisosSeleccionados.remove(i);
        }

        var permisosDisponibles = document.getElementById("permisosDisponibles");

        for (i = permisosDisponibles.options.length; i >= 0; i--) {
            permisosDisponibles.remove(i);
        }

    }
</script>


<!-- codigo para mover permisos de una lista a la otra-->
<script>
    function AgregarPermiso() {
        var obj = document.getElementById('permisosDisponibles');
        if (obj.selectedIndex == -1) {
            alert('Seleccione una opción');
        } else {
            var valor = obj.value;
            var txt = obj.options[obj.selectedIndex].text;
            obj.options[obj.selectedIndex] = null;
            var obj2 = document.getElementById('permisosSeleccionadosV');
            var opc = new Option(txt, valor);
            var opc = new Option(txt, valor);
            eval(obj2.options[obj2.options.length] = opc);
        }
    }

    function AgregarTodosPermisos() {
        var obj = document.getElementById('permisosDisponibles');
        var obj2 = document.getElementById('permisosSeleccionadosV');
        console.log(obj.options.length);
        for (var i = 0; i < obj.options.length; i + 1) {
            console.log(i);
            var valor = obj.options[i].value;
            var txt = obj.options[i].text;
            obj.options[i] = null;
            var opc = new Option(txt, valor);
            eval(obj2.options[obj2.options.length] = opc);
        }
    }

    function RemoverPermisos() {
        var obj = document.getElementById('permisosSeleccionadosV');
        if (obj.selectedIndex == -1) {
            alert('Seleccione Una opción');
        } else {
            var valor = obj.value;
            var txt = obj.options[obj.selectedIndex].text;
            obj.options[obj.selectedIndex] = null;
            var obj2 = document.getElementById('permisosDisponibles');
            var opc = new Option(txt, valor);
            eval(obj2.options[obj2.options.length] = opc);
        }
    }

    function RemoverTodos() {
        var obj = document.getElementById('permisosSeleccionadosV');
        var obj2 = document.getElementById('permisosDisponibles');
        console.log(obj.options.length);
        for (var i = 0; i < obj.options.length; i + 1) {
            console.log(i);
            var valor = obj.options[i].value;
            var txt = obj.options[i].text;
            obj.options[i] = null;
            var opc = new Option(txt, valor);
            eval(obj2.options[obj2.options.length] = opc);
        }
    }
</script>


