@using PruebaLogin.Models;
@using DTO;
@using PruebaLogin.ClasesAuxiliares;
@model  PaginadorGenericoL<Usuario_CLS>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.Label("Id Usuario")</th>
            <th>@Html.Label("Nombre Usuario")</th>
            <th>@Html.Label("Email")</th>
            <th>@Html.Label("NombreGrupo")</th>
            <th width="9%">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resultado)
        {
            <tr>
                <td>@item.idUsuario</td>
                <td>@item.nombreUsuario</td>
                <td>@item.email</td>
                <td>@item.nombreGrupo</td>
                <td>
                    <button type="button" onclick="Editar(@item.idUsuario)" class="bi bi-pencil-square  btn btn-primary" data-toggle="modal" data-target="#modalAgregar">
                    </button>
                    <button type="button" onclick="Eliminar(@item.idUsuario)" class="bi bi-trash btn btn-danger" data-toggle="modal" data-target="#modalConfirmEliminar">
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--paginador del listado -->

@if (Model.Resultado.Count() > 0)
{
    <span>
        <strong>@Model.TotalRegistros</strong> registros encontrados
    </span>
    <span>&nbsp;|&nbsp;</span>
    <span>
        Página <strong>@(Model.PaginaActual)</strong> de
        <strong>@Model.TotalPaginas</strong>
    </span>
    <span>&nbsp;|&nbsp;</span>
}
else
{
    <span>No hay resultados para esta búsqueda</span>
    <span>&nbsp;|&nbsp;</span>
}

@if (Model.PaginaActual > 1)
{
    @Ajax.ActionLink("<<", "Filtrar", new { pagina = 1, nombreusuario = "nu" },
                                         new AjaxOptions { UpdateTargetId = "divUsuario" },
                                         new { @class = "btn btn-sm btn-default", id = "atras1" })
    <span>
    </span>
    @Ajax.ActionLink("Anterior", "Filtrar", new { pagina = Model.PaginaActual - 1, nombreusuario = "nu" },
                                         new AjaxOptions { UpdateTargetId = "divUsuario" },
                                         new { @class = "btn btn-sm btn-default", id = "atras2" })
}
else
{
    @Ajax.ActionLink("<<", "Filtrar", new { pagina = 1, nombreusuario = "nu" },
                                         new AjaxOptions { UpdateTargetId = "divUsuario" },
                                         new { @class = "btn btn-sm btn-default disabled", id = "atras3" })
    <span>
    </span>
    @Ajax.ActionLink("Anterior", "Filtrar", new { pagina = 1, nombreusuario = "nu" },
                                         new AjaxOptions { UpdateTargetId = "divUsuario" },
                                         new { @class = "btn btn-sm btn-default disabled", id = "atras4" })
}
<span>
</span>
@if (Model.PaginaActual < Model.TotalPaginas)
{
    @Ajax.ActionLink("Siguiente", "Filtrar", new { pagina = Model.PaginaActual + 1, nombreusuario = "nu" },
                                             new AjaxOptions { UpdateTargetId = "divUsuario" },
                                             new { @class = "btn btn-sm btn-default", id = "adelante1" })
    <span>
    </span>
    @Ajax.ActionLink(">>", "Filtrar", new { pagina = Model.TotalPaginas, nombreusuario = "nu" },
                                     new AjaxOptions { UpdateTargetId = "divUsuario" },
                                     new { @class = "btn btn-sm btn-default", id = "adelante2" })
}
else
{
    @Ajax.ActionLink("Siguiente", "Filtrar", new { pagina = Model.TotalPaginas - 1, nombreusuario = "nu" },
                                     new AjaxOptions { UpdateTargetId = "divUsuario" },
                                     new { @class = "btn btn-sm btn-default disabled", id = "adelante3" })
    <span>
    </span>
    @Ajax.ActionLink(">>", "Filtrar", new { pagina = Model.TotalPaginas, nombreusuario = "nu" },
                                     new AjaxOptions { UpdateTargetId = "divUsuario" },
                                     new { @class = "btn btn-sm btn-default disabled", id = "adelante4" })
}

<script>
    $("#atras1").click(function () {
        var nom = document.getElementById("nombreusuario").value;
        console.log(nom);
        $("#atras1").attr('href', $("#atras1").attr('href').replace("nu", nom))
    });
    $("#atras2").click(function () {
        var nom = document.getElementById("nombreusuario").value;
        console.log(nom);
        $("#atras2").attr('href', $("#atras2").attr('href').replace("nu", nom))
    });
    $("#atras3").click(function () {
        var nom = document.getElementById("nombreusuario").value;
        console.log(nom);
        $("#atras3").attr('href', $("#atras3").attr('href').replace("nu", nom))
    });
    $("#atras4").click(function () {
        var nom = document.getElementById("nombreusuario").value;
        console.log(nom);
        $("#atras4").attr('href', $("#atras4").attr('href').replace("nu", nom))
    });


    $("#adelante1").click(function () {
        var nom = document.getElementById("nombreusuario").value;
        console.log(nom);
        $("#adelante1").attr('href', $("#adelante1").attr('href').replace("nu", nom))
    });
    $("#adelante2").click(function () {
        var nom = document.getElementById("nombreusuario").value;
        console.log(nom);
        $("#adelante2").attr('href', $("#adelante2").attr('href').replace("nu", nom))
    });
    $("#adelante3").click(function () {
        var nom = document.getElementById("nombreusuario").value;
        console.log(nom);
        $("#adelante3").attr('href', $("#adelante3").attr('href').replace("nu", nom))
    });
    $("#adelante4").click(function () {
        var nom = document.getElementById("nombreusuario").value;
        console.log(nom);
        $("#adelante4").attr('href', $("#adelante4").attr('href').replace("nu", nom))
    });
</script>