@using PruebaLogin.Models;
@model UsuarioCLS
@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> listaGrupo = (List<SelectListItem>)ViewBag.listaGrupo;
    string mensajeError = "";
    if (Model != null)
    {
        mensajeError = Model.mensajeError;
    }

}

<h2>Agregar Usuario</h2>


<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar", "Usuario", FormMethod.Post, new { @id = "frmAgregarUsuario" }))
        {
            <div>
                @Html.LabelFor(p => p.nombreUsuario)
                @Html.TextBoxFor(p => p.nombreUsuario, new { @class = "form-control" })
                @Html.ValidationMessage("nombreUsuario", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.email)
                @Html.TextBoxFor(p => p.email, new { @class = "form-control", })
                @Html.ValidationMessage("email", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.contra)
                @Html.PasswordFor(p => p.contra, new { @class = "form-control", })
                @Html.ValidationMessage("contra", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.idGrupo)
                @Html.DropDownList("idGrupo", listaGrupo, null, new { @class = "form-control", })
                @Html.ValidationMessage("idGrupo", new { @class = "text-danger" })
            </div>

            <input id="msjError" type="text" style="visibility:hidden;" value="@mensajeError" />

            <div id="divError" class="list-group-item-danger"></div>

            <div style="padding-top:1em;">
                <!-- botón que abre el modal de confirmación -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirm">
                    Guardar
                </button>
                @Html.ActionLink("Regresar al listado", "Index", "Usuario", new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>

<!-- Modal confirmación -->
<div class="modal fade" id="modalConfirm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirma la acción?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>
    if (document.getElementById("msjError").value != "") {
        console.log(document.getElementById("msjError").value);
        document.getElementById("divError").innerHTML = document.getElementById("msjError").value;
    }

    var frmAgregarUsuario = document.getElementById("frmAgregarUsuario");
    frmAgregarUsuario.onsubmit = function (e) {
        e.preventDefault();
        if (confirm("Confirma los cambios?") == 1) {
            frmAgregarUsuario.submit();
        }
    }

    function Agregar() {
        frmAgregarUsuario.submit();
    }
</script>