@using PruebaLogin.Models;
@model  List<UsuarioCLS>
@{
    ViewBag.Title = "Index";
}

<h2>Index Usuarios</h2>
<div style="padding:1em;">
    @Html.ActionLink("Nuevo Usuario", "Agregar", "Usuario", new { @class = "btn btn-primary" })
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.LabelFor(p => Model[0].idUsuario)</th>
            <th>@Html.LabelFor(p => Model[0].nombreUsuario)</th>
            <th>@Html.LabelFor(p => Model[0].nombreGrupo)</th>
            <th width="9%">Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.idUsuario</td>
                <td>@item.nombreUsuario</td>
                <td>@item.nombreGrupo</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Usuario", new { idUs = item.idUsuario }, new { @id = "idusuario", @class = "bi bi-pencil-square  btn btn-primary" })
                    <button type="button" onclick="elminar(@item.idUsuario)" class="bi bi-trash btn btn-danger" data-toggle="modal" data-target="#modalConfirmEliminar">
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal confirmación de eliminar registro -->
<div class="modal fade" id="modalConfirmEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirma la acción?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em;">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="borrarRegistro()" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Eliminar", "Usuario", FormMethod.Post, new { id = "frmEliminarUsuario" }))
{
    @Html.Hidden("txtIdUsuario")
}


<script>
    function elminar(idUsuario){
        document.getElementById("txtIdUsuario").value = idUsuario;
    }
    function borrarRegistro() {
        var frmEliminarUsuario = document.getElementById("frmEliminarUsuario");
        frmEliminarUsuario.submit();
    }
</script>

